*{
    margin: 0%;
    padding: 0%;
}
#main{
    margin: 145px 600px;
}
#fullCalculator{
    box-shadow: 5px 5px 5px 5px rgb(149, 144, 173);
    border-radius: 10px;
}
form{
    background-color: rgba(128, 128, 128, .5);
    width: 250px;
    padding: 30px 15px 15px 15px;
}
input  {
    width: 100%;
    padding: 5px 5px;
    font-size: 36px;
    box-sizing: border-box;
    text-align: right;
}
input[type = "button"] {
    width: 58px;
    height: 55px;
    background-color: #aaa;
    color: #fff;
    font-size: 24px;   
    margin-bottom: 5px;
    outline: none;
    border: 1px solid rgb(32, 31, 31) ;
    border-radius: 2px;
    cursor: pointer;
}
hr{
    margin: 15px 0px;
}